<div class="container mt-3" id="bg">
    <div class="row text-center pt-2 mb-3">
        <div class="col-lg-4 col-md-5 col-sm-12 pt-3">
            <img id="logofooter" src="../../../assets/imagenes/logo.jpeg" alt="armandoviajes" width="60wh" width="60wh" id="img">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 pt-1">
            <h4 id="contacto">ARMANDOVIAJES <br>
                +57 310 679 2354 <br>
                armando_transporte@hotmail.com </h4>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-3 pb-3 ">
            <a id="facebook" href="https://www.facebook.com/facebook" target="_blank">
                <img src="../../../assets/imagenes/facebook.PNG" alt="facebook" width="50wh" width="45wh" id="img">
            </a>
            <a   id="instagram"  href="https://instagram.com/armandoviajesoficial?igshid=17on477ahoeze"
                target="_blank">
                <img src="../../../assets/imagenes/instagram.PNG" alt="instagram" width="50wh" id="img">
            </a>

        </div>

    </div>
