<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light my-3  " id="bg">
    <div class="container-fluid">
      <a class="navbar-brand"><img id="logonav" src="../../../assets/imagenes/logo.jpeg" alt="armandoviajes"
          width="70wh"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/imagenes/menu.png" alt="">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" id="colortexto">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/crear']" id="colortexto">Cotización</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="colortexto" target="_blank"
              href="https://api.whatsapp.com/send?phone=+573176611660">Chat</a>
          </li>
          <li class="nav-item mt-2 ">
            <a href="https://api.whatsapp.com/send?phone=+573176611660" target="_blank">
              <img src="../../../assets/imagenes/whatsapp.PNG" target="_blank" alt="watsapp" width="30wh" id="logonav">
            </a>
          </li>
        </ul>
        <div class="tel d-flex pt-3 mx-4">
          <ul class="navbar me-auto mb-2 mb-lg-0">
            <button class="btn btn-outline-success btn-sm " type="submit" (click)="FormLogin()"
              id="colortexto">Admin</button>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</div>